/**
 * Basic typography style for copy text
 */
body {
  color: #222;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

p {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

ul,
ol {
  font-family: Georgia, Times, 'Times New Roman', serif;
  padding-left: 1.75em;
}

a {
  text-decoration: none;
  color: #41ADDD;
}

a:hover {
  color: #6CC0E5;
}

code {
  font-size: 0.75em;
  background-color: #EDEDED;
  padding: 0.125em 0.5em;
  border-radius: 1px;
}
