html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100vh;
	color: #222;
	font-family: "stolzl";
}
