html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	color: #222;
	font-family: "stolzl" !important;
}

.flex-space-between{
	display: flex;
	justify-content: space-between;
}
