$stolzl: "/fonts/stolzl" !default;

// stolzl regular
@font-face {
	font-family: "stolzl";
	font-style: normal;
	font-weight: 400;
	src: url("#{$stolzl}/Stolzl-Regular.woff2") format("woff2"),
}

@mixin stolzl-regular {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: {
		family: "stolzl";
		weight: 400;
	}
}

// stolzl medium
@font-face {
	font-family: "stolzl";
	font-style: normal;
	font-weight: 500;
	src: url("#{$stolzl}/Stolzl-Medium.woff2") format("woff2"),
}

@mixin stolzl-medium {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: {
		family: "stolzl";
		weight: 500;
	}
}

// stolzl bold
@font-face {
	font-family: "stolzl";
	font-style: normal;
	font-weight: 700;
	src: url("#{$stolzl}/Stolzl-Bold.woff2") format("woff2"),
}

@mixin stolzl-bold {
	font: {
		family: "stolzl";
		weight: 700;
	}
}
