/* This file contains all styles related to the button component. */

.btn_header {
  padding: 0.5em 1.5em;
  color: #6CC0E5;
  border: 1px solid #6CC0E5;
  border-radius: 3px;
  text-decoration: none;
  user-select: none;
  display: inline-block;
}

.btn_header:hover {
  color: white;
  background-color: #6CC0E5;
  text-decoration: none;
}

.btn_header + .btn_header {
  margin-left: 1em;
}

.btn--loading {
  color: white;
  background-color: #6CC0E5;
}

.logo{
  color: #6CC0E5;
  font-size: 20px;
}
