$wrapper-padding: 16px;

.wrapper {
	768px: calc(768px + $wrapper-padding * 2);
	margin: 0 auto;
	display: flex;
	height: 100%;
	padding: 0 $wrapper-padding;
}

#app {
	height: 100%;
}

.text-section {
	margin: 3em auto;
}
