.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  padding: 1em;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 999;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__logo-wrapper {
  text-decoration: none;
}

.header__logo {
  font-size: 1em;
  margin: 0;
  user-select: none;
  color: #222;
  text-decoration: none;
}

.btn--header {
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn--header + .btn--header {
  margin-left: 1em;
}

@media screen and (max-width: 400px) {
  .header__wrapper {
    justify-content: none;
  }

  .header__logo-wrapper {
    margin: 0 auto;
  }

  .btn--header {
    display: none;
  }
}
