.offer-page-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.offer-page {
  background-color: rgba(255, 255, 255, 0.96);
  padding: 15px;

  .owner-panel {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .admin-panel {
    width: 100%;
    text-align: end;

    button {
      margin: 2px;
    }
  }

  .placeholder {
    background: url(/import/no_photo.jpg) no-repeat scroll 0 0;
    background-size: 1070px;
  }

  .images-wrapper {
    padding: 15px;
    max-width: 1070px;


    .item {
      height: 650px;
      width: 1070px;
    }

    .updated {
      text-align: right;
      padding-bottom: 8px;
    }
  }

  .description-wrapper {
    padding: 0 0 15px 15px;
    margin-bottom: 20px;

    .map {
      width: 500px;
      height: 290px;
      padding: 0 5px 0 5px;
    }

    .contacts {
      display: flex;
      justify-content: flex-end;
      padding: 25px 15px 0 5px;
      padding-left: 5px;
    }

    .description {
      padding: 25px;
      width: 563px;
      max-width: 563px;

      .title {
        display: flex;
        justify-content: space-between;
      }

      .text {
        padding-left: 20px;
      }
    }
  }

}

.vl {
  border-left: 1px solid rgba(0, 0, 0, .1);;
}

