.offer-page {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  min-height: 90vh;
  //padding-bottom: 30px;

  .owner-panel {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 120px;
  }

  .admin-panel {
    width: 100%;
    text-align: end;
    padding-top: 120px;

    button{
      margin: 2px;
    }
  }

  .images-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;

    .inner {
      max-height: 63vh;
      max-width: 60vw;
      height: 63vh;
      min-height: 63vh;
      min-width: 60vw;
    }

    .updated {
      text-align: right;
      padding-bottom: 8px;
    }
  }

  .description-wrapper {
    display: flex;
    justify-content: space-between;
    width: 60vw;

    .map {
      width: 500px;
      height: 290px;
      padding: 0 5px 0 5px;
    }

    .contacts {
      display: flex;
      justify-content: space-between;
      padding: 0 5px 0 5px;
      padding-left: 5px;
    }

    .description {
      width: 100%;
      padding: 25px;
      min-width: 490px;

      .title {
        display: flex;
        justify-content: space-between;
      }

      .address {
        text-align: right;
      }

      .text {
        padding-left: 20px;
      }
    }
  }

}

