.offer-create-page-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding-top: 30px;
}

.offer-create {
  width: 1100px;
  padding: 20px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.93);
  display: flex;
  justify-content: center;
  flex-direction: column;

  .step-wrap {

    .location-wrap {
      height: 100%;
      width: 100%;

      .location-form-wrap {
        //padding: 1vh 1vw 1vh 1vw;
      }

      .map-wrap {
        height: 450px;
        width: 1160px;
        //padding: 1vh 1vw 1vh 1vw;
      }

    }

  }

}


.step-navigator-container{

  width: 1100px;
  padding: 20px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.93);
  display: flexs;
  justify-content: center;
  flex-direction: column;

  .step-navigator {
    display: flex;
    justify-content: space-between;
  }

}

.personal-form-wrapper {
  display: flex;
  justify-content: center;
}

.navigate-button-wrap {

  .item {

    font-size: 18px;

    &:hover {
      display: inline;
      color: #6CC0E5;
      border-radius: 3px;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
    }
  }

}

