.offer {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vw;

  .step-wrap{
    height: 100%;
    padding: 15px;

    .location-wrap{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      .location-form-wrap{
        padding: 1vh 1vw 1vh 1vw;
      }

      .map-wrap{
        height: 50vh;
        padding: 1vh 1vw 1vh 1vw;
      }

    }

  }

  .step-navigator {
    display: flex;
    justify-content: space-between;
  }

}
