.offer {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  min-height: 70vh;

  .step-wrap{
    height: 100%;
    padding: 15px;

    .location-wrap{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      .location-form-wrap{
        padding: 1vh 1vw 1vh 1vw;
      }

      .map-wrap{
        height: 50vh;
        padding: 1vh 1vw 1vh 1vw;
      }

    }

  }

  .step-navigator {
    display: flex;
    justify-content: space-between;
  }

}

.personal-form-wrapper{
  display: flex;
  justify-content: center;
}

.navigate-button-wrap{

  .back{
    padding-left: 3px;

    &:hover{
      padding-left: 0;
    }
  }

  .next{
    padding-right: 3px;

    &:hover{
      padding-right: 0;
    }
  }

  .item{

    font-size: 18px;

    &:hover{
      display: inline;
      color: #6CC0E5;
      border-radius: 3px;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
    }
  }

}

