.profile-page-wrapper {

  display: flex;
  flex-direction: column;
  min-height: 90vh;
  min-width: 1200px;

  .personal-info {
    min-width: 400px;

    .edit-buttons{
      padding-top: 5px;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      button{
        margin-left: 5px;
      }
    }

    &.edit-form{
      input{
        width: 150px;
      }
    }
  }

  .own-offers-wrapper {
    padding: 15px;
    .list {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;

      .offer-card {
        max-width: 380px;
        width: 380px;
        padding: 20px;
      }

    }
  }

  .user-filter-wrapper{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;

    .user-filter{
      width: 390px;
      max-width: 390px;
      margin: 5px;

      .header-filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 6px 0 6px;
        margin-bottom: 0;
      }
    }
  }


}
