
.profile-page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.profile-page {

  background-color: rgba(255, 255, 255, 0.96);
  padding: 15px;

  .personal-info {
    min-width: 450px;
    max-width: 450px;
    margin: 15px;

    .edit-buttons {
      padding-top: 5px;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      button {
        margin-left: 5px;
      }
    }

    &.edit-form {
      input {
        width: 150px;
      }
    }
  }

  .offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;

      .list {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;

        .offer-card {
          max-width: 380px;
          width: 380px;
          padding: 20px;
        }

    }

  }
  .user-filter-wrapper {
    width: 800px;
    display: flex;
    flex-wrap: wrap;

    .user-filter {
      width: 390px;
      max-width: 390px;
      margin: 5px;

      .header-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 6px 0 20px;
        margin-bottom: 0;
      }
    }
  }

}
