.search {
  &.wrapper{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    align-items: center;
  }

  .form-map-wrapper{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;

    .search-form{
      width: 100%;
      padding: 10px 30px 10px;
    }

    .search-map{
      min-width: 40vw;
    }
  }

  .results-wrapper{
    width: 60%;
    padding-top: 30px;
    margin-bottom: 50px;

    .search-spinner{
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .offer-link{
      text-decoration: none;
      color: #2f2d2d;


    }

    .offer-preview-wrapper{
      height: 150px;
      max-height: 150px;
      margin-bottom: 20px;
      padding: 10px;

      .card-wrapper {
        display: flex;
        flex-direction: row;

        .selected-placemark{
          background: rgba(255, 253, 128, 0.75);
        }

        .main{
          .title {
            font-size: 18px;
            display: flex;
            justify-content: space-between;
          }
          max-height: 140px;
          height: 140px;

          &:hover{
            background: #f7f7f7;
          }


        }

        .preview-img{
          max-width: 140px;
          min-width: 140px;
        }

        .created-at{
          max-width: 120px;
        }

      }
    }

  }

  .form-group-padding{
    padding-bottom: 30px;
  }
}
