.search {
  &.wrapper{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    align-items: center;
  }

  .form-map-wrapper{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;

    .search-form{
      width: 100%;
      padding: 10px 30px 10px;
    }

    .search-map{
      min-width: 40vw;
    }
  }

  .results-wrapper{
    width: 95%;
  }

  .form-group-padding{
    padding-bottom: 30px;
  }
}
