.search-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-container {
  padding: 10px;
  background: white;

  .search-form-container {
    padding: 0 5px 0 0 !important;

    .search-form {
      max-width: 350px;
      height: 730px;
    }

  }
  .search-map-container {
    min-height: 730px;
    min-width: 900px;
    padding: 0 5px 0 0 !important;
  }

}

.results-wrapper {
  padding-top: 25px;
  width: 1280px;
  background: white;

  .result-container {
    display: flex;
    justify-content: center;

    .search-spinner {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .offer-preview-wrapper {

      width: 540px;
      padding: 10px;

      .card-wrapper {

        .selected-placemark {
          background-color: rgba(0, 0, 0, .03);
          border-top: 1px solid rgba(0, 0, 0, .125);
        }

        .title {
          font-size: 18px;
          display: flex;
          justify-content: space-between;
        }
        &:hover {
          background: #f7f7f7;
        }

        .preview-img {
          min-height: 323px;
          max-height: 323px;
          width: auto;
        }

        .created-at {
          max-height: 140px;
          max-width: 140px;
        }

      }
    }
  }
}

.form-group-padding {
  padding-bottom: 30px;
}

.offer-link {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
